{% extends 'accounts/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success">
      <div class="container">
        {{message}}</br>
      </div> 
    </div> 
  {% endfor %}
{% endif %}
<div class="container">
  <a href="{% url 'home' %}" class="btn btn-dark my-3">Back</a>
</div>
<div class="d-flex justify-content-center align-items-center">
  <div class="m-5 p-3 card shadow" style="width: 50%">
    <h1>Login!</h1>
    <form action="" method="post">
      {% csrf_token %}
      {% bootstrap_form form %} 
      <input type="submit" value="Login" class="btn btn-primary">
    </form>
  </div>
</div>
{% endblock content %}